/*-- scss:defaults --*/
  // importing fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600&family=Jost:wght@200;300&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap');

// fonts
//$font-family-sans-serif: 'Lato', Tahoma, sans-serif !default;
$font-family-sans-serif: 'Jost', sans-serif !default;
//$font-family-sans-serif:'Source Sans Pro', sans-serif !default;

// Define the colors
$white:    #fff !default;
$white2:   #f8f8f8 !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$col1: #160F29 !default;
$col2: #246A73 !default;
$col3: #368F8B !default;
$col4: #F3DFC1 !default;
$col5: #DDBEA8 !default;

$col-lightblue: #59c0ce !default;


// headings
//$presentation-heading-font: 'Yanone Kaffeesatz',  Tahoma, sans-serif  !default;
$presentation-heading-font: 'Abhaya Libre', serif  !default;
$presentation-heading-color: $col2 !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;

//code
$code-color: $col2 !default;
$font-family-monospace: 'Inconsolata', monospace  !default;

// general  
$body-bg: $white2;
$body-color: $col1;
$link-color: $col3;
$presentation-font-size-root: 35px;

/*-- scss:rules --*/
  .reveal pre code {
    background-color: $white2;
      font-size: 1em;
    padding: 0.5em;
    line-height: 1.2em;
  }

.subtitle {
  color: $col3;
  font-size: $h2-font-size;
  font-family: $presentation-heading-font;
}

.author {
  color: $body-bg;
  font-size: $h2-font-size;
  font-family: $presentation-heading-font;
}

.footer {
  font-family: $presentation-heading-font;
}

.reveal .slide-number {
  font-family: $presentation-heading-font;
}

.reveal .panel-tabset [role=tab] {
  font-size: 0.8em;
}

.reveal .footer {
  color: $col2;
}


.center-x{
  text-align: center;
}

section.has-dark-background a, section.has-dark-background a:hover {
  color: $col4;
}


.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}

.inverse {
  color: $col4;
  h1, h2, h3, h4 {
    color: $col4;
  }
  .slide-background-content {
    background-color: $col2;
  }
  blockquote {
    color: $gray-200
  }
  a {
    color: $col3;
  }
  code {
    color: $col5;
  }
}

.task-slide {
  color: $col1;
  h1, h2, h3, h4 {
    color: $col2;
  }
  .slide-background-content {
    background-color: $col4;
  }
  blockquote {
    color: $gray-800;
  }
  a {
    color: $col3;
  }
  code {
    color: $col2;
  }
}

.reveal {
  .slides {
    .slide {
      img+p.caption {
        font-size: 0.5em;
      }
    }
  }
}