/*-- scss:defaults --*/

// Define the colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$col1: #160F29 !default;
$col2: #246A73 !default;
$col3: #368F8B !default;
$col4: #F3DFC1 !default;
$col5: #DDBEA8 !default;
$col6: #AB7F78 !default;

$primary:       $col2 !default;
$secondary:     $col5 !default;

$light:         $gray-200 !default;
$dark:          $gray-700 !default;

$link-color: $col4 !default;
$code-color: $col5 !default;
$body-color: $gray-100 !default;
$code-block-bg: $gray-800 !default;